body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-image: linear-gradient(
    to right,
    rgba(49, 63, 219, 0.8),
    rgba(160, 39, 130, 0.8)
  );
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  margin: 0;
  padding: 10px 0;
  /* text-align: center; */
}

.list {
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

.wraper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  /* margin: 0 auto; */
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
}

.task {
  padding: 15px;
  /* display: inline-grid; */
  /* grid-template-rows: 200px; */
  /* grid-template-columns: 200px; */
  /* text-align: center; */
}

.center {
  text-align: center;
}

/* .flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
