/* MAINE */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  /* font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320))); */
  letter-spacing: 0.03em;

  background-image: linear-gradient(
    to right,
    rgba(49, 63, 219, 0.8),
    rgba(160, 39, 130, 0.8)
  );
  background-position: center;
  background-size: cover;

  text-align: center;
}

h1,
h2 {
  margin: 0;
  padding: 10px 0;
  /* font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320))); */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  text-decoration: underline;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.wraper {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .wraper {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wraper {
    width: 768px;
    margin-top: 20px;
  }

  .grid {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  .grid-8 {
    grid-column-start: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .wraper {
    width: 1200px;
  }

  .grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-1 {
    grid-row-start: span 3;
  }

  .grid-3 {
    grid-row-start: span 3;
  }

  .grid-8 {
    grid-column-start: span 1;
  }
}

.task {
  padding: 15px;
}

/* BUTTON */
.rezult-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
/* end MAINE */

/* style fo TASK 1 */
.rezult {
  padding: 0;
}
/* end style fo TASK 1 */

/* style fo TASK 3 */
.gallery-list {
  list-style: none;
}

.image-item:not(:last-child) {
  margin-bottom: 10px;
}
/* end style fo TASK 3 */

/* style fo TASK 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/* end style fo TASK 6 */

/* style fo TASK 8 */
/* end style fo TASK 8 */
