body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-image: linear-gradient(
    to right,
    rgba(49, 63, 219, 0.8),
    rgba(160, 39, 130, 0.8)
  );
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  margin: 0;
  padding: 10px 0;
  /* text-align: center; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* $mobile: 480px;
$tablet: 768px;
$desktop: 1200px; */

/* .container { */
/* margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; */
/* margin: 20px auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
} */

.rezult-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.list {
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

.wraper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}

.grid {
  /* margin: 0 auto; */
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
}

.task {
  padding: 15px;
  /* display: inline-grid; */
  /* grid-template-rows: 200px; */
  /* grid-template-columns: 200px; */
  /* text-align: center; */
}

/* .category-item {
  display: flex;
} */

.center {
  text-align: center;
}

/* .flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* style fo TASK 3 */
.gallery-list {
  list-style: none;
}

.image-item:not(:last-child) {
  margin-bottom: 10px;
}
/* end style fo TASK 3 */

/* style fo TASK 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/* end style fo TASK 6 */
